{% if pageData.layout %} {% extends pageData.layout %} {% endif %}
{% from "govcyElement.njk" import govcyElement %}
{% from "utilities/govcyUtilities.njk" import govcyLocalizeContent %}
{% block main %}
    <h2>Hint</h2>
    {{ govcyElement("hint",{
        hint:{en:"This is the hint element by itself ",el:"Περιεχομένο"}, 
        classes:"govcy-test-class", id:"govcy-test-2"}) }}
    <hr><h2>Label</h2>
    {{ govcyElement("label",{
        label: {en:"This is the label by <b>itself</b>. Options classes, for, id, isPrimary:false",el:"Περιεχομένο"}, 
        classes:"govcy-test-class", for:"govcy-label-for-id", id:"govcy-test-3", isPrimary: false}) }}
    {{ govcyElement("label",{
        label:{en:"This is the label by <b>itself</b>. Options for, isPrimary, isPageHeading, isHTML, id ",el:"Περιεχομένο"} , 
        for:"govcy-label-for-id",id:"govcy-test-4", isPrimary : true, isPageHeading : true, isHTML : true}) }}
    <hr><h2>Legend</h2>
    {{ govcyElement("legend",{
        legend:{en:"This is the legend by itself. Options isPageHeading, classes, id",el:"Περιεχομένο"} , 
        id:"govcy-test-5", isPageHeading : true, classes:"govcy-test-class"}) }}
    {{ govcyElement("legend",{
        legend:{en:"This is the legend by itself. Options isPageHeading:false, id",el:"Περιεχομένο"}, 
        id:"govcy-test-6", isPageHeading : false}) }}
    <hr><h2>Button</h2>
    {{ govcyElement("button",{
        text:{en:"Primary default options",el:"Περιεχομένο"},id:"govcy-test-7"}) }} <br>
    {{ govcyElement("button",{
        text:{en:"Options variant:secondary, type:submit, classes:govcy-test-class ",el:"Περιεχομένο"}, 
        variant:"secondary", type:"submit", classes:"govcy-test-class", id:"govcy-test-8"}) }}<br>
    {{ govcyElement("button",{
        text:{en:"Options variant:success",el:"Περιεχομένο"}, 
        variant:"success", id:"govcy-test-9"}) }}<br>
    <hr><h2>Form control and Error Message</h2>
    {% call govcyElement("form",{ classes:"govcy-test-class", id:"govcy-test-13"}) %}
        {% call govcyElement("formControl",{ isError:true,classes:"govcy-test-class", id:"govcy-test-12"}) %}
            {{ govcyElement("errorMessage",{
                message:{en:"Content",el:"Error message. Options id, classes. default lang"}, 
                lang:"el",classes:"govcy-test-class", id:"govcy-test-10"}) }}
            {{ govcyElement("errorMessage",{
                message:{en:"Error message. Options id, lang: en",el:"Περιεχομένο"}, 
                id:"govcy-test-11"}) }}
        {% endcall %}
    {% endcall %}
    {% call govcyElement("form",{ action:"test-action", id:"govcy-test-14"}) %}
        {% call govcyElement("formControl",{ id:"govcy-test-15"}) %}
            Form with action
        {% endcall %}
    {% endcall %}
    <hr><h2>Localized content</h2>
    {{ govcyLocalizeContent({"en":"<b>Should show English escaped</b>", "el":"Fault"}, "en") }}
    {{ govcyLocalizeContent({"en":"Fault", "el":"<b>Should show Ελληνικά escaped</b>"}, "el") }}
    {{ govcyLocalizeContent({"en":"Fault", "el":"<b>Should show Ελληνικά unescaped</b>"}, "el", true) }}
    {% call govcyElement("form",{}) %}
    <hr><h2>Select</h2>
    {{ govcyElement("select", {
        label:{en:"Sort by",el:"Περιεχομένο"},
        id:"govcy-test-17",name:"govcy-test-17",
        items: [
            {
                value: "",
                text: {en:"None",el:"Περιεχομένο"}
            },
            {
                value: "published",
                text: {en:"Recently published",el:"Περιεχομένο"}
            }
        ]
        }) }}
    {{ govcyElement("select", {
        label:{en:"Sort by",el:"Περιεχομένο"},
        error: {en:"Error message",el:"Περιεχομένο"},
        hint: {en:"Hint message",el:"Περιεχομένο"},
        id:"govcy-test-18",name:"govcy-test-18", 
        items: [
            {
                value: "",
                text: {en:"None",el:"Περιεχομένο"}
            },
            {
                value: "published",
                text: {en:"Recently published",el:"Περιεχομένο"}
            }
        ]
        }) }}
    {{ govcyElement("select", {
        label:{en:"Sort by",el:"Περιεχομένο"},
        error: {en:"Error message",el:"Περιεχομένο"},
        hint: {en:"Hint message",el:"Περιεχομένο"},
        id:"govcy-test-19",name:"govcy-test-19", isPageHeading: true, 
        items: [
            {
                value: "",
                text: {en:"None",el:"Περιεχομένο"}
            },
            {
                value: "published",
                text: {en:"Recently published",el:"Περιεχομένο"}
            }
        ]
        }) }}
    {{ govcyElement("select", {
        label:{en:"Sort by",el:"Περιεχομένο"},
        hint: {en:"Hint message",el:"Περιεχομένο"},
        id:"govcy-test-20",name:"govcy-test-20", 
        items: [
            {
                value: "",
                text: {en:"None",el:"Περιεχομένο"}
            },
            {
                value: "published",
                text: {en:"Recently published",el:"Περιεχομένο"}
            }
        ]
        }) }}
    {{ govcyElement("select", {
        label:{en:"Sort by",el:"Περιεχομένο label"},
        error: {en:"Error message",el:"Περιεχομένο error"},
        hint: {en:"Hint message",el:"Περιεχομένο hint"},
        lang:"el",id:"govcy-test-21",name:"govcy-test-21", 
        items: [
            {
                value: "",
                text: {en:"None",el:"Κανένα"}
            },
            {
                value: "published",
                text: {en:"Recently published",el:"Πρόσφατα"}
            }
        ]
        }) }}
    {% endcall %}
    <hr><h2>Form and form control with elements array</h2>
    {% call govcyElement("form",
        {id:"govcy-test-22", 
            elements:[
                {element: "formControl",
                params: {id:"govcy-test-23", 
                    elements:[
                        {element: "select", params:{label:{en:"Sort by",el:"Περιεχομένο"},id:"govcy-test-23a",name:"govcy-test-23a", 
                            items: [
                                {
                                    value: "",
                                    text: {en:"None",el:"Περιεχομένο"}
                                },
                                {
                                    value: "published",
                                    text: {en:"Recently published",el:"Περιεχομένο"}
                                }
                            ]
                        } },
                        {element:"button",params:{text:{en:"Button 1",el:"Κουμπί 1"},id:"govcy-test-23b"} },
                        {element:"button",params:{text:{en:"Button 2",el:"Κουμπί 2"},variant:"secondary",id:"govcy-test-23c"} },
                        {element:"button",params:{text:{en:"Button 3",el:"Κουμπί 3"},variant:"success",id:"govcy-test-23d"} }
                    ]
                } }
            ]
        }) %}
    {% endcall %}
    <hr><h2>Text element</h2>
    {{ govcyElement("textElement",{text:{en:"Default content ",el:"Default Περιεχομένο"}, classes:"govcy-test-class", id:"govcy-test-24a"}) }}
    {{ govcyElement("textElement",{text:{en:"Default content ",el:"Default Περιεχομένο"}, type:"h3", lang:"el", id:"govcy-test-24b"}) }}
    <hr><h2>Test lang attribute</h2>
    {{ govcyElement("button",{text:{en:"English",el:"Ελληνικά"},id:"govcy-test-26a", lang:"el"}) }}
    {{ govcyElement("hint",{hint:{en:"English",el:"Ελληνικά"}, id:"govcy-test-26b", lang:"el"}) }}
    {{ govcyElement("legend",{legend:{en:"English",el:"Ελληνικά"}, id:"govcy-test-26c", isPageHeading : false, lang:"el"}) }}
    {{ govcyElement("textElement",{text:{en:"English ",el:"Ελληνικά"}, type:"p", id:"govcy-test-26d", lang:"el"}) }}
    <hr><h2>Text input</h2>
      {% call govcyElement("form",
        {id:"govcy-test-27", 
            elements:[
                {element: "textInput",
                params: {
                    label:{en:"1. Text with minimum options",el:"Ελληνικά label"}
                    ,id:"govcy-test-27a"
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"2. Text input with isPageHeading:true",el:"Ελληνικά"}
                    ,id:"govcy-test-27b"
                    ,isPageHeading: true
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"English label",el:"3. Ελληνικά. Text input with most options, type:tel, fixedWidth:50"}
                    ,id:"govcy-test-27c"
                    ,name:"govcy-test-27c"
                    ,hint:{en:"Hint message",el:"Περιεχομένο hint"}
                    ,type:"tel"
                    ,isPageHeading: false
                    ,classes:"govcy-test-class"
                    ,error:{en:"Error message",el:"Περιεχομένο error"}
                    ,fixedWidth:"50"
                    ,lang:"el"
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"4. Text type:email",el:"Ελληνικά"}
                    ,id:"govcy-test-27d"
                    ,name:"govcy-test-27d"
                    ,type: "email"
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"5. Text type:numeric",el:"Ελληνικά"}
                    ,id:"govcy-test-27e"
                    ,name:"govcy-test-27e"
                    ,type: "numeric"
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"6. Text type:name",el:"Ελληνικά"}
                    ,id:"govcy-test-27f"
                    ,name:"govcy-test-27f"
                    ,type: "name"
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"7. Text fixedWidth:35",el:"Ελληνικά"}
                    ,id:"govcy-test-27g"
                    ,name:"govcy-test-27g"
                    ,fixedWidth:"35"
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"8. Text fixedWidth:2",el:"Ελληνικά"}
                    ,id:"govcy-test-27h"
                    ,name:"govcy-test-27h"
                    ,fixedWidth:"2"
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"9. Text spellcheck true",el:"Ελληνικά"}
                    ,id:"govcy-test-27i"
                    ,name:"govcy-test-27i"
                    ,isSpellcheck:"true"
                    }
                }
                ,{element: "textInput",
                params: {
                    label:{en:"10. Text autocomplete:tel",el:"Ελληνικά"}
                    ,id:"govcy-test-27j"
                    ,name:"govcy-test-27j"
                    ,autocomplete:"tel"
                    }
                }
            ]
        }) %}{% endcall %}
    <hr><h2>Fieldset</h2>
    {% call govcyElement("form",{
        elements:[
            {element: "fieldset",
            params: {id:"govcy-test-28"}
            }
            ,{element: "fieldset",
            params: {
                id:"govcy-test-29", 
                classes:"govcy-test-class", 
                ariaDescribedby:"govcy-test-29-aria",
                lang:"el"}
            }
            ,{element: "fieldset",
            params: {
                id:"govcy-test-30"
                ,elements:[
                    {element: "textInput",
                    params: {
                        label:{en:"English label",el:"Ελληνικά label"}
                        ,id:"govcy-test-30a"
                        }
                    }
                    ,{element: "htmlElement",
                    params: {
                        text:{en:"<p>English text govcy-test-30</p>",el:"<p>Ελληνικά text</p>"}
                        }
                    }
                ]
                }
            }
    ]
    }) %}{% endcall %}
    <hr><h2>Radios</h2>
    {% call govcyElement("form",{
        elements:[
            {element: "radios",
            params: {
                id:"govcy-test-31"
                ,name:"govcy-test-31"
                ,legend:{en:"Radios: English default options",el:"Ελληνικά legend"}
                }
            },
            {element: "radios",
            params: {
                id:"govcy-test-32"
                ,name:"govcy-test-32"
                ,legend:{en:"Radios: English with items",el:"Ελληνικά legend"}
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        text: {en:"No",el:"Όχι"}
                    }
                ]
                }
            },
            {element: "radios",
            params: {
                id:"govcy-test-33"
                ,name:"govcy-test-33"
                ,legend:{en:"Radios: English with items and error",el:"Ελληνικά legend"}
                ,error:{en:"English error",el:"Ελληνικά error"}
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        text: {en:"No",el:"Όχι"}
                    }
                ]
                }
            },
            {element: "radios",
            params: {
                id:"govcy-test-34"
                ,name:"govcy-test-34"
                ,legend:{en:"Radios: English with and item",el:"Ελληνικά legend"}
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        text: {en:"No",el:"Όχι"}
                    },
                    {
                        type: "and",
                        value: "maybe",
                        text: {en:"Maybe",el:"Ίσως"}
                    }
                ]
                }
            },
            {element: "radios",
            params: {
                id:"govcy-test-35"
                ,name:"govcy-test-35"
                ,legend:{en:"Radios: English with inline items",el:"Ελληνικά legend"}
                ,isInline: true
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        text: {en:"No",el:"Όχι"}
                    },
                    {
                        type: "or",
                        value: "maybe",
                        text: {en:"Maybe",el:"Ίσως"}
                    }
                ]
                }
            },
            {element: "radios",
            params: {
                id:"govcy-test-36"
                ,name:"govcy-test-36"
                ,legend:{en:"Radios: English with all options possible",el:"Ελληνικά legend"}
                ,hint:{en:"English hint",el:"Ελληνικά hint"}
                ,error:{en:"English error",el:"Ελληνικά error"}
                ,isPageHeading: true
                ,isInline: false
                ,classes:"govcy-test-class"
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        hint: {en:"English hint for no",el:"Ελληνικά hint for no"},
                        text: {en:"No",el:"Όχι"}
                    },
                    {
                        type: "or",
                        altOrText: {en:"If not",el:"Αν όχι"},
                        value: "maybe",
                        hint: {en:"We want you to be absolutely sure",el:"Θέλουμε να είστε απολύτως σίγουροι"},
                        text: {en:"Maybe",el:"Ίσως"}
                    }
                ]
                }
            },
            {element: "radios",
            params: {
                id:"govcy-test-37"
                ,name:"govcy-test-37"
                ,lang:"el"
                ,legend:{en:"English legend",el:"Radios: Ελληνικά with all options possible"}
                ,hint:{en:"English hint",el:"Ελληνικά hint"}
                ,error:{en:"English error",el:"Ελληνικά error"}
                ,isPageHeading: true
                ,isInline: false
                ,classes:"govcy-test-class"
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        hint: {en:"English hint for no",el:"Ελληνικά hint for no"},
                        text: {en:"No",el:"Όχι"}
                    },
                    {
                        type: "or",
                        altOrText: {en:"If not",el:"Αν όχι"},
                        value: "maybe",
                        hint: {en:"We want you to be absolutely sure",el:"Θέλουμε να είστε απολύτως σίγουροι govcy-test-37-option-3"},
                        text: {en:"Maybe",el:"Ίσως"}
                    }
                ]
                }
            },
            {element: "htmlElement",
            params: {
                text:{en:"<hr><h2>Checkboxes</h2>"}
                }
            },
             {element: "checkboxes",
            params: {
                id:"govcy-test-38"
                ,name:"govcy-test-38"
                ,legend:{en:"Checkboxes: English default options",el:"Ελληνικά legend"}
                }
            },
            {element: "checkboxes",
            params: {
                id:"govcy-test-39"
                ,name:"govcy-test-39"
                ,legend:{en:"Checkboxes: English with items",el:"Ελληνικά legend"}
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        text: {en:"No",el:"Όχι"}
                    }
                ]
                }
            },
            {element: "checkboxes",
            params: {
                id:"govcy-test-40"
                ,name:"govcy-test-40"
                ,legend:{en:"Checkboxes: English with items and error",el:"Ελληνικά legend"}
                ,error:{en:"English error",el:"Ελληνικά error"}
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        text: {en:"No",el:"Όχι"}
                    }
                ]
                }
            },
            {element: "checkboxes",
            params: {
                id:"govcy-test-41"
                ,name:"govcy-test-41"
                ,legend:{en:"Checkboxes: English with and item",el:"Ελληνικά legend"}
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        text: {en:"No",el:"Όχι"}
                    },
                    {
                        type: "and",
                        value: "maybe",
                        text: {en:"Maybe",el:"Ίσως"}
                    }
                ]
                }
            },
            {element: "checkboxes",
            params: {
                id:"govcy-test-42"
                ,name:"govcy-test-42"
                ,legend:{en:"Checkboxes: English with all options possible",el:"Ελληνικά legend"}
                ,hint:{en:"English hint",el:"Ελληνικά hint"}
                ,error:{en:"English error",el:"Ελληνικά error"}
                ,isPageHeading: true
                ,classes:"govcy-test-class"
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        hint: {en:"English hint for no",el:"Ελληνικά hint for no"},
                        text: {en:"No",el:"Όχι"}
                    },
                    {
                        type: "or",
                        altOrText: {en:"If not",el:"Αν όχι"},
                        value: "maybe",
                        hint: {en:"We want you to be absolutely sure",el:"Θέλουμε να είστε απολύτως σίγουροι"},
                        text: {en:"Maybe",el:"Ίσως"}
                    }
                ]
                }
            },
            {element: "checkboxes",
            params: {
                id:"govcy-test-43"
                ,name:"govcy-test-43"
                ,lang:"el"
                ,legend:{en:"English legend",el:"Checkboxes: Ελληνικά with all options possible"}
                ,hint:{en:"English hint",el:"Ελληνικά hint"}
                ,error:{en:"English error",el:"Ελληνικά error"}
                ,isPageHeading: true
                ,classes:"govcy-test-class"
                ,items:[
                    {
                        value: "yes",
                        text: {en:"Yes",el:"Ναι"}
                    },
                    {
                        value: "no",
                        hint: {en:"English hint for no",el:"Ελληνικά hint for no"},
                        text: {en:"No",el:"Όχι"}
                    },
                    {
                        type: "or",
                        altOrText: {en:"If not",el:"Αν όχι"},
                        value: "maybe",
                        hint: {en:"We want you to be absolutely sure",el:"Θέλουμε να είστε απολύτως σίγουροι govcy-test-43-option-3"},
                        text: {en:"Maybe",el:"Ίσως"}
                    }
                ]
                }
            },
            {element: "htmlElement",
            params: {
                text:{en:"<hr><h2>File input</h2>"}
                }
            },
            {element: "fileInput",
            params: {
                id:"govcy-test-44",
                label:{en:"File input: English with default options",el:"Ελληνικά label"}
                }
            },
            {element: "fileInput",
            params: {
                id:"govcy-test-45",
                name:"govcy-test-45",
                hint:{en:"PDF, JPG, JPEG, PNG are the acceptable formats",el:"Ελληνικά hint"},
                label:{en:"File input: English with hint",el:"Ελληνικά label"}
                }
            },
            {element: "fileInput",
            params: {
                id:"govcy-test-46",
                name:"govcy-test-46",
                classes:"govcy-test-class",
                label:{en:"File input: English with all possible options",el:"Ελληνικά label"},
                hint:{en:"English hint",el:"Ελληνικά hint"},
                error:{en:"English error",el:"Ελληνικά error"},
                isPageHeading: true
                }
            },
            {element: "fileInput",
            params: {
                id:"govcy-test-47",
                name:"govcy-test-47",
                classes:"govcy-test-class",
                label:{en:"File input: English label",el:"Ελληνικά with all possible options"},
                hint:{en:"English hint",el:"Ελληνικά hint"},
                error:{en:"English error",el:"Ελληνικά error govcy-test-47"},
                isPageHeading: true,
                lang:"el"
                }
            },
            {element: "htmlElement",
            params: {
                text:{en:"<hr><h2>File View</h2>"}
                }
            },
            {element: "fileView",
            params: {
                id:"govcy-test-48",
                viewHref:"#view48",
                deleteHref:"#delete48",
                label:{en:"File view: English with default options",el:"Ελληνικά label"}
                }
            },
            {element: "fileView",
            params: {
                id:"govcy-test-49",
                viewHref:"#view49",
                deleteHref:"#delete49",
                hint:{en:"English hint",el:"Ελληνικά hint"},
                label:{en:"File view: English with hint",el:"Ελληνικά label"}
                }
            },
            {element: "fileView",
            params: {
                id:"govcy-test-50",
                viewHref:"#view50",
                deleteHref:"#delete50",
                classes:"govcy-test-class",
                isPageHeading: true,
                label:{en:"File view: English with all possible options",el:"Ελληνικά label"},
                hint:{en:"English hint",el:"Ελληνικά hint"},
                visuallyHiddenText:{en:"English visuallyHiddenText",el:"Ελληνικά visuallyHiddenText"}
                }
            },
            {element: "fileView",
            params: {
                id:"govcy-test-51",
                viewHref:"#view51",
                deleteHref:"#delete51",
                classes:"govcy-test-class",
                isPageHeading: true,
                label:{en:"File view: English label",el:"Ελληνικά label with lang:el"},
                hint:{en:"English hint",el:"Ελληνικά hint"},
                visuallyHiddenText:{en:"English visuallyHiddenText",el:"Ελληνικά visuallyHiddenText govcy-test-51"},
                lang:"el"
                }
            }
    ]
    }) %}{% endcall %}
    {{ govcyElement("htmlElement",{text:{en:"<hr><h2>Tag</h2>"} }) }}
    {{ govcyElement("tag",{text:{en:"ENGLISH tag 57",el:"ΕΛΛΗΝΙΚΑ tag 57"} }) }}
    {{ govcyElement("tag",{text:{en:"ENGLISH tag 58",el:"ΕΛΛΗΝΙΚΑ tag 58"},classes:"govcy-tag-gray" }) }}
    {{ govcyElement("tag",{text:{en:"ENGLISH tag 59",el:"ΕΛΛΗΝΙΚΑ tag 59"},classes:"govcy-tag-orange",lang: "el" }) }}
    {{ govcyElement("htmlElement",{text:{en:"<hr><h2>Table</h2>"} }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Empty Table</h3>"} }) }}
    {{ govcyElement("table",{id:"govcy-test-60"}) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Simple table</h3>"} }) }}
    {{ govcyElement("table",{id:"govcy-test-61",
        head:[
            {
                text:{en:"Month",el:"Μηνας"}
            },
            {
                text:{en:"Amount",el:"Ποσό"}
            }
        ],
        rows: [
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"January",el:"Ιανουάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€85",el:"€85"} } }
                        ]
                    }
                ],
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"February",el:"Φεβάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€75",el:"€75"} } }
                        ]
                    }
                ]
            ]
    }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Simple table with firstCellIsHeader:ture and responsiveType:vertical-headers</h3>"} }) }}
    {{ govcyElement("table",{id:"govcy-test-62",
        firstCellIsHeader:true,
        responsiveType:"vertical-headers",
        head:[
            {
                text:{en:"Month",el:"Μηνας"}
            },
            {
                text:{en:"Amount",el:"Ποσό"}
            }
        ],
        rows: [
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"January",el:"Ιανουάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€85",el:"€85"} } }
                        ]
                    }
                ],
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"February",el:"Φεβάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€75",el:"€75"} } }
                        ]
                    }
                ]
            ]
    }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Simple table with firstCellIsHeader:ture and responsiveType:vertical-no-headers</h3>"} }) }}
    {{ govcyElement("table",{id:"govcy-test-63",
        firstCellIsHeader:true,
        responsiveType:"vertical-no-headers",
        head:[
            {
                text:{en:"Month",el:"Μηνας"}
            },
            {
                text:{en:"Amount",el:"Ποσό"}
            }
        ],
        rows: [
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"January",el:"Ιανουάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€85",el:"€85"} } }
                        ]
                    }
                ],
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"February",el:"Φεβάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€75",el:"€75"} } }
                        ]
                    }
                ]
            ]
    }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Simple table with firstCellIsHeader:ture and responsiveType:horisontal</h3>"} }) }}
    {{ govcyElement("table",{id:"govcy-test-64",
        firstCellIsHeader:true,
        responsiveType:"horisontal",
        head:[
            {
                text:{en:"Month",el:"Μηνας"}
            },
            {
                text:{en:"Amount",el:"Ποσό"}
            }
        ],
        rows: [
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"January",el:"Ιανουάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€85",el:"€85"} } }
                        ]
                    }
                ],
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"February",el:"Φεβάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€75",el:"€75"} } }
                        ]
                    }
                ]
            ]
    }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Table with most options. On rows and head with colspan and rowspan, classes and multiple elements</h3>"} }) }}
    {{ govcyElement("table",{id:"govcy-test-65",
        firstCellIsHeader:true,
        classes:"govcy-test-class",
        head:[
            {
                text:{en:"Month",el:"Μηνας"}
            },
            {
                text:{en:"Amount",el:"Ποσό"},
                classes: "govcy-text-md-end",
                colspan : 1,
                rowspan : 1
            },
            {
                text:{en:"Status",el:"Κατάσταση"}
            }
        ],
        rows: [
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"January",el:"Ιανουάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€85",el:"€85"} } }
                        ],
                        classes: "govcy-text-md-end",
                        colspan : 1,
                        rowspan : 1
                    },
                    {
                        elements: [
                            {element:"tag",params:{text:{en:"PAYED",el:"ΠΛΗΡΩΘΗΚΕ"}, classes:"govcy-tag-green"} }
                        ]
                    }
                ],
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"February",el:"Φεβάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"<p><b>test</b></p>",el:"<p>test el</p>"} } },
                            {element:"htmlElement",params:{text:{en:"€75",el:"€75"} } }
                        ],
                        classes: "govcy-text-md-end"
                    },
                    {
                        elements: [
                            {element:"tag",params:{text:{en:"NOT PAYED",el:"ΔΕΝ ΠΛΗΡΩΘΗΚΕ"}, classes:"govcy-tag-orange"} }
                        ]
                    }
                ]
            ]
    }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Table with most options in greek</h3>"} }) }}
    {{ govcyElement("table",{id:"govcy-test-66",
        lang:"el",
        firstCellIsHeader:true,
        responsiveType:"vertical-headers",
        head:[
            {
                text:{en:"Month",el:"Μηνας"}
            },
            {
                text:{en:"Amount",el:"Ποσό"},
                classes: "govcy-text-md-end",
                colspan : 1,
                rowspan : 1
            },
            {
                text:{en:"Status",el:"Κατάσταση"}
            }
        ],
        rows: [
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"January",el:"Ιανουάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"€85",el:"€85"} } }
                        ],
                        classes: "govcy-text-md-end",
                        colspan : 1,
                        rowspan : 1
                    },
                    {
                        elements: [
                            {element:"tag",params:{text:{en:"PAYED",el:"ΠΛΗΡΩΘΗΚΕ"},lang: "en", classes:"govcy-tag-green"} }
                        ]
                    }
                ],
                [
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"February",el:"Φεβάριος"} } }
                        ]
                    },
                    {
                        elements: [
                            {element:"htmlElement",params:{text:{en:"<p><b>test</b></p>",el:"<p>test el</p>"} } },
                            {element:"htmlElement",params:{text:{en:"€75",el:"€75"} } }
                        ],
                        classes: "govcy-text-md-end"
                    },
                    {
                        elements: [
                            {element:"tag",params:{text:{en:"NOT PAYED",el:"ΔΕΝ ΠΛΗΡΩΘΗΚΕ govcy-test-66"}, classes:"govcy-tag-orange"} }
                        ]
                    }
                ]
            ]
    }) }}
    {{ govcyElement("htmlElement",{text:{en:"<hr><h2>Summary list</h2>"} }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Empty summary list</h3>"} }) }}
    {{ govcyElement("summaryList",{id:"govcy-test-67"}) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Simple summary list, no actions</h3>"} }) }}
    {{ govcyElement("summaryList",{id:"govcy-test-68",
        items:[
            {
                key:{en:"Name",el:"el Name"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"Andreas Andreou",el:"EL Andreas Andreou"} } }
                ]
            },
            {
                key:{en:"Date of birth",el:"el Date of birth"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"10 March 1990<br>",el:"EL 10 March 1990<br>"} } }
                ]
            },
            {
                key:{en:"Address",el:"el Address"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"50 Enton Street<br>Nicosia<br>2066",el:"50 Enton Street<br>Nicosia<br>2066"} } }
                ]
            }
        ]
    }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Summary list with multiple elements and actions</h3>"} }) }}
    {{ govcyElement("summaryList",{id:"govcy-test-69",
        items:[
            {
                key:{en:"Name",el:"el Name"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"Andreas Andreou",el:"EL Andreas Andreou"} } }
                ]
            },
            {
                key:{en:"Date of birth",el:"el Date of birth"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"10 March 1990<br>",el:"EL 10 March 1990<br>"} } }
                    ,{element:"tag",params:{text:{en:"Adult",el:"el Adult"}, classes:"govcy-tag-green"} }
                ],
                actions:[
                    {
                        text:{en:"Change",el:"Αλλαγή"},
                        href: "#",
                        classes: "govcy-link",
                        visuallyHiddenText: {en:"Date of birth",el:"Ημερομηνία γέννησης"}
                    }
                ]
            },
            {
                key:{en:"Address",el:"el Address"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"50 Enton Street<br>Nicosia<br>2066",el:"50 Enton Street<br>Nicosia<br>2066"} } }
                ],
                actions:[
                    {
                        text:{en:"Change",el:"Αλλαγή"},
                        href: "#",
                        visuallyHiddenText: {en:"Address",el:"el Address"}
                    },
                    {
                        text:{en:"Remove",el:"Διαγραφή"},
                        href: "#2", 
                        visuallyHiddenText: {en:"Address",el:"el Address"}
                    }
                ]
            },
            {
                key:{en:"Contact details",el:"el Contact details"},
                actions:[
                    {
                        text:{en:"Enter contact",el:"el Enter contact"},
                        href: "#1"
                    }
                ]
            }
        ]
    }) }}
    {{ govcyElement("htmlElement",{text:{en:"<h3>Summary list with multiple elements and actions in Greek</h3>"} }) }}
    {{ govcyElement("summaryList",{id:"govcy-test-70",
        lang: "el",
        items:[
            {
                key:{en:"Name",el:"el Name"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"Andreas Andreou",el:"EL Andreas Andreou"} } }
                ]
            },
            {
                key:{en:"Date of birth",el:"el Date of birth"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"10 March 1990<br>",el:"EL 10 March 1990<br>"} } }
                    ,{element:"tag",params:{text:{en:"Adult",el:"el Adult"}, classes:"govcy-tag-green"} }
                ],
                actions:[
                    {
                        text:{en:"Change",el:"Αλλαγή"},
                        href: "#",
                        visuallyHiddenText: {en:"Date of birth",el:"Ημερομηνία γέννησης"}
                    }
                ]
            },
            {
                key:{en:"Address",el:"el Address"},
                value:
                [
                    {element:"htmlElement",params:{text:{en:"50 Enton Street<br>Nicosia<br>2066",el:"el 50 Enton Street<br>Nicosia<br>2066"} } }
                ],
                actions:[
                    {
                        text:{en:"Change",el:"Αλλαγή"},
                        href: "#",
                        visuallyHiddenText: {en:"Address",el:"el Address"}
                    },
                    {
                        text:{en:"Remove",el:"Διαγραφή"},
                        href: "#2", 
                        visuallyHiddenText: {en:"Address",el:"el Address"}
                    }
                ]
            },
            {
                key:{en:"Contact details",el:"el Contact details"},
                actions:[
                    {
                        text:{en:"Enter contact",el:"Εισαγάγετε τα στοιχεία επικοινωνίας govcy-test-70"},
                        href: "#1"
                    }
                ]
            }
        ]
    }) }}
    {% call govcyElement("form",{
        "elements":[
            {"element": "htmlElement",
            "params": {
                "text":{"en":"<h2>Conditional radios lang:el</h2>","el":"Ελληνικά legend"}
                }
            },
            {"element": "radios",
            "params": {
                "id":"govcy-test-71"
                ,"name":"govcy-test-71"
                ,"lang":"el"
                ,"legend":{"en":"English legend","el":"Radios: Ελληνικά with all options possible"}
                ,"hint":{"en":"English hint","el":"Ελληνικά hint"}
                ,"error":{"en":"English error","el":"Ελληνικά error"}
                ,"isPageHeading": true
                ,"isInline": false
                ,"classes":"govcy-test-class"
                ,"items":[
                    {
                        "value": "yes",
                        "text": {"en":"Yes","el":"Ναι"}
                    },
                    {
                        "value": "no",
                        "hint": {"en":"English hint for no","el":"Ελληνικά hint for no"},
                        "text": {"en":"No","el":"Όχι"},
                        "conditionalHasErrors": true,
                        "conditionalElements": [
                            {
                                "element": "textInput",
                                "params": {
                                    "label":{"en":"English","el":"Όνομα"}
                                    ,"id":"govcy-test-71a"
                                    ,"name":"govcy-test-71a"
                                    ,"error":{"en":"English error","el":"Ελληνικά error"}
                                }
                            },
                            {
                                "element": "fileInput",
                                "params": {
                                    "label":{"en":"English","el":"File"}
                                    ,"id":"govcy-test-71a1"
                                    ,"name":"govcy-test-71a1"
                                    ,"error":{"en":"English error","el":"Ελληνικά error"}
                                }
                            },
                            {
                                "element":"select", 
                                "params": {
                                    "label":{"en":"country","el":"Χώρα"},
                                    "id":"govcy-test-71a2",
                                    "name":"govcy-test-71a2",
                                    "error":{"en":"English error","el":"Ελληνικά error"},
                                    "items": [
                                        {
                                            "value": "",
                                            "text": {"en":"Select a country","el":"Επιλέξετε Χώρα"}
                                        },
                                        {
                                            "value": "357",
                                            "text": {"en":"English","el":"ΚΥΠΡΟΣ"}
                                        },
                                        {
                                            "value": "9",
                                            "text": {"en":"English","el":"ΕΛΛΑΔΑ"}
                                        }
                                    ]
                                }
                            },
                            {"element": "checkboxes",
                            "params": {
                                "id":"govcy-test-71a3"
                                ,"name":"govcy-test-71a3"
                                ,"legend":{"en":"Checkboxes: English with items","el":"Ελληνικά legend"}
                                ,"error":{"en":"English error","el":"Ελληνικά error"}
                                ,"items":[
                                    {
                                        "value": "yes",
                                        "text": {"en":"Yes","el":"Ναι"}
                                    },
                                    {
                                        "value": "no",
                                        "text": {"en":"No","el":"Όχι"}
                                    }
                                ]
                                }
                            },
                            {"element": "radios",
                            "params": {
                                "id":"govcy-test-71a4"
                                ,"name":"govcy-test-71a4"
                                ,"legend":{"en":"Radios: English with items","el":"Ελληνικά legend"}
                                ,"error":{"en":"English error","el":"Ελληνικά error"}
                                ,"items":[
                                    {
                                        "value": "yes",
                                        "text": {"en":"Yes","el":"Ναι"}
                                    },
                                    {
                                        "value": "no",
                                        "text": {"en":"No","el":"Όχι"}
                                    }
                                ]
                                }
                            },
                            {
                                "element": "textInput",
                                "params": {
                                    "label":{"en":"English","el":"Επώνυμο"}
                                    ,"id":"govcy-test-71a10"
                                    ,"name":"govcy-test-71a10"
                                }
                            },
                            {
                                "element": "datePicker",
                                "params":{
                                    "id":"govcy-test-71a5",
                                    "name":"govcy-test-71a5",
                                    "classes": "test-class",
                                    "dataMinDate": "2025-03-01",
                                    "dataMaxDate": "2025-03-10",
                                    "label": {"en":"This is a date","el":"This is a date el"},
                                    "hint": {"en":"This is a hint","el":"This is a hint el"},
                                    "error": {"en":"This is an error","el":"This is an error el"}
                                }
                            },
                            {
                                "element": "dateInput",
                                "params":{
                                    "lang":"el",
                                    "id":"govcy-test-71a6",
                                    "name":"govcy-test-71a6",
                                    "variant":"desktop",
                                    "hasDayError":false,
                                    "hasMonthError":true,
                                    "hasYearError":true,
                                    "isBirthday":true,
                                    "classes":"govcy-test-class",
                                    "hint": {"en":"This is a hint","el":"This is a hint el"},
                                    "error": {"en":"This is an error","el":"This is an error el"},
                                    "legend": {"en":"All options","el":"All options el"}
                                }
                            }
                        ]
                    },
                    {
                        "type": "or",
                        "altOrText": {"en":"If not","el":"Αν όχι"},
                        "value": "maybe",
                        "hint": {"en":"We want you to be absolutely sure","el":"Θέλουμε να είστε απολύτως σίγουροι"},
                        "text": {"en":"Maybe","el":"Ίσως"},
                        "conditionalElements": [
                            {
                                "element": "textElement",
                                "params": {
                                    "text":{"en":"Conditional element","el":"Ελληνικά conditional element"}
                                }
                            },
                            {
                                "element": "textInput",
                                "params": {
                                    "label":{"en":"English","el":"Email"}
                                    ,"id":"govcy-test-71b"
                                    ,"name":"govcy-test-71b"
                                    ,"type": "email"
                                }
                            },
                            {
                                "element":"select", 
                                "params": {
                                    "label":{"en":"country","el":"Χώρα"},
                                    "id":"govcy-test-71c",
                                    "name":"govcy-test-71c",
                                    "items": [
                                        {
                                            "value": "",
                                            "text": {"en":"Select a country","el":"Επιλέξετε Χώρα"}
                                        },
                                        {
                                            "value": "357",
                                            "text": {"en":"English","el":"ΚΥΠΡΟΣ"}
                                        },
                                        {
                                            "value": "9",
                                            "text": {"en":"English","el":"ΕΛΛΑΔΑ"}
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                ]
                }
            }
    ]
    }) %}{% endcall %}
    {% call govcyElement("form",{ 
        "elements": [
            {
                "element": "htmlElement",
                "params": {
                    "text":{"en":"<h2>Text Area, Character count</h2>","el":"Ελληνικά legend"}
                }
            },
            {
                "element": "textArea",
                "params": {
                    "label":{"en":"Default Text area","el":"Όνομα"}
                    ,"id":"govcy-test-72"
                }
            },
            {
                "element": "textArea",
                "params": {
                    "label":{"en":"Default Text area with most options, autocomplete, character count char","el":"Όνομα"}
                    ,"id":"govcy-test-73"
                    ,"name":"govcy-test-73"
                    ,"rows": 7
                    ,"hint": {"en":"English hint","el":"Ελληνικά hint"}
                    ,"error": {"en":"English error","el":"Ελληνικά error"}
                    ,"isPageHeading": true
                    ,"isSpellcheck": true
                    ,"autocomplete": "street-address"
                    ,"classes": "govcy-test-class"
                    ,"characterCount": {"type":"char","max":150}
                }
            },
            {
                "element": "textArea",
                "params": {
                    "label":{"en":"English label","el":"Default Text area with most options, autocomplete, character count word, lang el"}
                    ,"id":"govcy-test-74"
                    ,"name":"govcy-test-74"
                    ,"lang":"el"
                    ,"rows": 7
                    ,"hint": {"en":"English hint","el":"Ελληνικά hint"}
                    ,"error": {"en":"English error","el":"Ελληνικά error"}
                    ,"isPageHeading": true
                    ,"isSpellcheck": true
                    ,"autocomplete": "street-address"
                    ,"classes": "govcy-test-class"
                    ,"characterCount": {"type":"word","max":150}
                }
            }
        ]
    }) %}{% endcall %}
    <h2>Complex Summary List</h2>
    {{ govcyElement("summaryList",{
        "id":"govcy-test-75",
        "items":[
            {
                "key":{"en":"Name","el":"el Name"},
                "value":
                [
                    {"element":"htmlElement","params":{"text":{"en":"Andreas ","el":"EL Andreas"} } }
                    ,{"element":"htmlElement","params":{"text":{"en":"Andreou","el":"Andreou"} } }
                    
                ],
                "actions":[
                    {
                        "text":{"en":"Change","el":"Αλλαγή"},
                        "href": "#",
                        "visuallyHiddenText": {"en":"Date of birth","el":"Ημερομηνία γέννησης"}
                    }
                ]
            },
            {
                "key":{"en":"Date of birth","el":"el Date of birth"},
                "value":
                [
                    {"element":"htmlElement","params":{"text":{"en":"10 March 1990","el":"EL 10 March 1990"} } }
                    ,{"element":"summaryList",
                    "params":
                        {
                            "items":[
                                {
                                    "key":{"en":"Day 1","el":"el Day"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"10","el":"EL"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Month","el":"el Month"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"March","el":"EL"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Year","el":"el Year"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"1990","el":"EL"} } }
                                    ]
                                }
                            ]
                        } 
                    }
                ],
                "actions":[
                    {
                        "text":{"en":"Change","el":"Αλλαγή"},
                        "href": "#",
                        "visuallyHiddenText": {"en":"Date of birth","el":"Ημερομηνία γέννησης"}
                    }
                ]
            },
            {
                "key":{"en":"Address","el":"el Address"},
                "value":
                [
                    {"element":"summaryList",
                    "params":
                        {
                            "items":[
                                {
                                    "key":{"en":"Address line 1","el":"el Address line 1 EL"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"1 Some Steet","el":"EL"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Town","el":"el Town"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"Nicosia","el":"EL"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Post code","el":"el Post postcode"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"2040","el":"EL"} } }
                                    ]
                                }
                            ]
                        } 
                    },
                    {"element":"summaryList",
                    "params":
                        {
                            "items":[
                                {
                                    "key":{"en":"Address line 1","el":"el Address line 1 EL"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"1 Some Steet","el":"EL"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Town","el":"el Town"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"Nicosia","el":"EL"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Post code","el":"el Post postcode"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"2040","el":"EL"} } }
                                    ]
                                }
                            ]
                        } 
                    }
                ],
                "actions":[
                    {
                        "text":{"en":"Change","el":"Αλλαγή"},
                        "href": "#",
                        "visuallyHiddenText": {"en":"Address","el":"el Address"}
                    },
                    {
                        "text":{"en":"Remove","el":"Διαγραφή"},
                        "href": "#2", 
                        "visuallyHiddenText": {"en":"Address","el":"el Address"}
                    }
                ]
            }
        ]
    })}}
    {{ govcyElement("summaryList",{
        "id":"govcy-test-76",
        "lang":"el",
        "items":[
            {
                "key":{"en":"Date of birth","el":"EL Date of birth"},
                "value":
                [
                    {"element":"htmlElement","params":{"text":{"en":"10 March 1990","el":"EL 10 March 1990"} } }
                    ,{"element":"summaryList",
                    "params":
                        {
                            "items":[
                                {
                                    "key":{"en":"Day 1","el":"EL Day"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"10","el":"EL 10"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Month","el":"EL Month"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"March","el":"EL March"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Year","el":"EL Year"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"1990","el":"EL 1990"} } }
                                    ]
                                }
                            ]
                        } 
                    }
                ],
                "actions":[
                    {
                        "text":{"en":"Change","el":"Αλλαγή"},
                        "href": "#",
                        "visuallyHiddenText": {"en":"Date of birth","el":"Ημερομηνία γέννησης"}
                    }
                ]
            },
            {
                "key":{"en":"Address","el":"EL Address"},
                "value":
                [
                    {"element":"summaryList",
                    "params":
                        {
                            "items":[
                                {
                                    "key":{"en":"Address line 1","el":"EL Address line 1"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"1 Some Steet","el":"EL 1 Some Steet"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Town","el":"EL Town"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"Nicosia","el":"EL Nicosia"} } }
                                    ]
                                },
                                {
                                    "key":{"en":"Post code","el":"EL Post postcode"},
                                    "value":
                                    [
                                        {"element":"htmlElement","params":{"text":{"en":"2040","el":"EL 2024"} } }
                                    ]
                                }
                            ]
                        } 
                    }
                ],
                "actions":[
                    {
                        "text":{"en":"Change","el":"Αλλαγή"},
                        "href": "#",
                        "visuallyHiddenText": {"en":"Address","el":"EL Address"}
                    },
                    {
                        "text":{"en":"Remove","el":"Διαγραφή"},
                        "href": "#2", 
                        "visuallyHiddenText": {"en":"Address","el":"EL Address govcy-test-76"}
                    }
                ]
            }
        ]
    })}}
    <h2>Markdown</h2>
    {{ govcyElement("markdown",{
        "text":{"en":"govcy-test-77-start\n## Header 2\nThis is a **Markdown-it** example rendered in _Nunjucks_.  \nThis is a [link](https://google.com){target=\"_blank\"}\n- test{.govcy-text-success}\n- test\n\n govcy-test-77-end","el":"Ελληνικά"}
    })}}
    {{ govcyElement("markdown",{
        "lang":"el",
        "text":{"el":"govcy-test-78-start\n## Τίτλος 2\nΑυτό είναι **Markdown-it** example rendered in _Nunjucks_.  \nΑυτό είναι [λίνκ](https://google.com){target=\"_blank\"}\n- τεστ{.govcy-text-success}\n- τεστ\n\n govcy-test-78-end","en":"English"}
    })}}
    <h2>Panel</h2>
    {{ govcyElement("panel",{
        "id":"govcy-test-79"
    })}}
    {{ govcyElement("panel",{
        "id":"govcy-test-80",
        "background": "govcy-bg-danger",
        "header": {"en":"Your application has been sent","el":"Η αίτησή σας έχει σταλεί"},
        "body": {"en":"Your Reference Number","el":"Ο αριθμός αναφοράς σας"},
        "referenceNumber": {"en":"C123456","el":"Π123456"}
    })}}
    {{ govcyElement("panel",{
        "id":"govcy-test-81",
        "header": {"en":"Your application has been sent","el":"Η αίτησή σας έχει σταλεί"},
        "body": {"en":"Your Reference Number","el":"Ο αριθμός αναφοράς σας"},
        "referenceNumber": {"en":"C123456","el":"Π123456"},
        "elements": [
            {"element":"htmlElement","params":{"text":{"en":"test ","el":"test el "} } }
            ,{"element":"tag","params":{"lang":"el", "text":{"en":"Adult","el":"el Adult"}, "classes":"govcy-tag-gray"} }
        ]
    })}}
    {{ govcyElement("panel",{
        "id":"govcy-test-82",
        "lang":"el",
        "header": {"en":"Your application has been sent","el":"Η αίτησή σας έχει σταλεί"},
        "body": {"en":"Your Reference Number","el":"Ο αριθμός αναφοράς σας"},
        "referenceNumber": {"en":"C123456","el":"Π123456"},
        "elements": [
            {"element":"htmlElement","params":{"text":{"en":"test ","el":"test el "} } }
            ,{"element":"tag","params":{"lang":"en", "text":{"en":"Adult","el":"el Adult"}, "classes":"govcy-tag-gray"} }
        ]
    })}}
    <h2>Date Picker</h2>
    {% call govcyElement("form",{
        "elements":[
            {
                "element": "datePicker",
                "params":{
                    "id":"govcy-test-83",
                    "name":"govcy-test-83",
                    "label": {"en":"Default values","el":"Default values el"}
                }
            },
            {
                "element": "datePicker",
                "params":{
                    "id":"govcy-test-84",
                    "name":"govcy-test-84",
                    "isPageHeading": true,
                    "classes": "test-class",
                    "dataMinDate": "2025-03-01",
                    "dataMaxDate": "2025-03-10",
                    "label": {"en":"Default values","el":"Default values el"},
                    "hint": {"en":"This is a hint","el":"This is a hint el"},
                    "error": {"en":"This is an error","el":"This is an error el"}
                }
            },
            {
                "element": "datePicker",
                "params":{
                    "id":"govcy-test-85",
                    "name":"govcy-test-85",
                    "lang":"el",
                    "isPageHeading": true,
                    "classes": "test-class",
                    "dataMinDate": "2025-03-01",
                    "dataMaxDate": "2025-03-10",
                    "label": {"en":"Default values","el":"Default values el"},
                    "hint": {"en":"This is a hint","el":"This is a hint el"},
                    "error": {"en":"This is an error","el":"This is an error el"}
                }
            },
            {
                "element": "htmlElement",
                "params": {
                    "text":{"en":"<h2>Date Input</h2>","el":"Date Input"}
                }
            },
            {
                "element": "dateInput",
                "params":{
                    "id":"govcy-test-86",
                    "name":"govcy-test-86",
                    "legend": {"en":"Default values","el":"Default values el"}
                }
            },
            {
                "element": "dateInput",
                "params":{
                    "id":"govcy-test-87",
                    "name":"govcy-test-87",
                    "isPageHeading":true,
                    "variant":"desktop",
                    "hasDayError":false,
                    "hasMonthError":true,
                    "hasYearError":true,
                    "isBirthday":true,
                    "classes":"govcy-test-class",
                    "hint": {"en":"This is a hint","el":"This is a hint el"},
                    "error": {"en":"This is an error","el":"This is an error el"},
                    "legend": {"en":"All options","el":"All options el"}
                }
            },
            {
                "element": "dateInput",
                "params":{
                    "lang":"el",
                    "id":"govcy-test-88",
                    "name":"govcy-test-88",
                    "isPageHeading":true,
                    "variant":"desktop",
                    "hasDayError":false,
                    "hasMonthError":true,
                    "hasYearError":true,
                    "isBirthday":true,
                    "classes":"govcy-test-class",
                    "hint": {"en":"This is a hint","el":"This is a hint el"},
                    "error": {"en":"This is an error","el":"This is an error el"},
                    "legend": {"en":"All options","el":"All options el"}
                }
            },
            {
                "element": "htmlElement",
                "params": {
                    "text":{"en":"<h2>Task List</h2>","el":"Task List"}
                }
            },
            {
                "element": "taskList",
                "params": {
                    "id":"govcy-test-89",
                    "items":[
                        {
                            "id": "task1",
                            "task": {
                                "text": {
                                    "el": "Εργασία ένα",
                                    "en": "Task one"
                                },
                                "link": "#task1"
                            }, 
                            "status": {
                                "text": {
                                    "el": "ΟΛΟΚΛΗΡΩΘΗΚΕ",
                                    "en": "COMPLETED"
                                },
                                "classes": ""
                            }
                        },
                        {
                            "task": {
                                "text": {
                                    "el": "Εργασία δύο",
                                    "en": "Task two"
                                },
                                "link": "#task2"
                            }, 
                            "status": {
                                "text": {
                                    "el": "ΣΕ ΕΞΕΛΙΞΗ",
                                    "en": "IN PROGESS"
                                },
                                "classes": "govcy-tag-cyan"
                            }
                        },
                        {
                            "task": {
                                "text": {
                                    "el": "Εργασία τρία",
                                    "en": "Task three"
                                },
                                "link": "#task3"
                            }, 
                            "status": {
                                "text": {
                                    "el": "ΔΕΝ ΞΕΚΙΝΗΣΕ",
                                    "en": "NOT STARTED"
                                },
                                "classes": "govcy-tag-gray"
                            }
                        },
                        {
                            "task": {
                                "text": {
                                    "el": "Εργασία τέσσερα",
                                    "en": "Task four"
                                }, 
                                "link": ""
                            },
                            "status": {
                                "text": {
                                    "el": "ΔΕΝ ΜΠΟΡΕΙ ΝΑ ΞΕΚΙΝΗΣΕΙ",
                                    "en": "CANNOT START YET"
                                },
                                "classes": "govcy-tag-gray"
                            }
                        }
                    ]
                }
            },
            {
                "element": "taskList",
                "params": {
                    "id":"govcy-test-90",
                    "classes" : "govcy-test-class",
                    "visuallyHiddenStatus": {"en":"with status alt","el":"με κατάσταση alt"},
                    "items":[
                        {
                            "id": "task1",
                            "task": {
                                "text": {
                                    "el": "Εργασία ένα",
                                    "en": "Task one"
                                },
                                "link": "#task1"
                            }, 
                            "description": {
                                "el": "Επεξήγηση",
                                "en": "Some explanation text"
                            }
                            ,
                            "status": {
                                "text": {
                                    "el": "ΟΛΟΚΛΗΡΩΘΗΚΕ",
                                    "en": "COMPLETED"
                                },
                                "classes": ""
                            }
                        }
                    ]
                }
            },
            {
                "element": "taskList",
                "params": {
                    "id":"govcy-test-91",
                    "lang":"el",
                    "classes" : "govcy-test-class",
                    "visuallyHiddenStatus": {"en":"with status alt","el":"με κατάσταση alt"},
                    "items":[
                        {
                            "id": "task1",
                            "task": {
                                "text": {
                                    "el": "Εργασία ένα",
                                    "en": "Task one"
                                },
                                "link": "#task1"
                            }, 
                            "description": {
                                "el": "Επεξήγηση",
                                "en": "Some explanation text"
                            }
                            ,
                            "status": {
                                "text": {
                                    "el": "ΟΛΟΚΛΗΡΩΘΗΚΕ",
                                    "en": "COMPLETED"
                                },
                                "classes": ""
                            }
                        }
                    ]
                }
            },
            {
                "element": "htmlElement",
                "params": {
                    "text":{"en":"<h2>Inputs with elements</h2>","el":"Inputs with elements el"}
                }
            },
            {
                "element": "radios",
                "params": {
                    "id":"govcy-test-92"
                    ,"name":"govcy-test-92"
                    ,"legend":{"en":"Radios: with elements","el":"Ελληνικά legend"}
                    ,"isPageHeading" : true
                    ,"elements": [
                            {"element":"textElement","params":{"text":{"en":"A paragraph","el":"A paragraph el"} } }
                            ,{"element":"textElement","params":{"text":{"en":"Another paragraph","el":"Another paragraph el"} } }
                            ,{"element":"tag","params":{"lang":"el", "text":{"en":"Adult","el":"el Adult"}, "classes":"govcy-tag-gray"} }
                            ,{"element":"textElement","params":{"text":{"en":"Another paragraph","el":"Another paragraph el"} } }
                        ]
                    ,"hint":{"en":"English hint","el":"Ελληνικά hint"}
                    ,"error":{"en":"English error","el":"Ελληνικά error"}
                    ,"items":[
                        {
                            "value": "yes",
                            "text": {"en":"Yes","el":"Ναι"}
                        },
                        {
                            "value": "no",
                            "text": {"en":"No","el":"Όχι"}
                        }
                    ]
                }
            },
            {
                "element": "radios",
                "params": {
                    "id":"govcy-test-93"
                    ,"name":"govcy-test-93"
                    ,"lang":"el"
                    ,"legend":{"en":"Radios: with elements","el":"Ελληνικά radios legend"}
                    ,"isPageHeading" : true
                    ,"elements": [
                            {"element":"textElement","params":{"text":{"en":"A paragraph","el":"A paragraph el"} } }
                            ,{"element":"textElement","params":{"text":{"en":"Another paragraph","el":"Another paragraph el"} } }
                            ,{"element":"tag","params":{"lang":"el", "text":{"en":"Adult","el":"el Adult"}, "classes":"govcy-tag-gray"} }
                            ,{"element":"textElement","params":{"text":{"en":"Another paragraph","el":"Another paragraph el"} } }
                        ]
                    ,"hint":{"en":"English hint","el":"Ελληνικά hint"}
                    ,"error":{"en":"English error","el":"Ελληνικά error"}
                    ,"items":[
                        {
                            "value": "yes",
                            "text": {"en":"Yes","el":"Ναι"}
                        },
                        {
                            "value": "no",
                            "text": {"en":"No","el":"Όχι"}
                        }
                    ]
                }
            },
            {
                "element": "checkboxes",
                "params": {
                    "id":"govcy-test-94"
                    ,"name":"govcy-test-94"
                    ,"legend":{"en":"Checkboxes: with elements","el":"Ελληνικά radios legend"}
                    ,"isPageHeading" : true
                    ,"elements": [
                            {"element":"textElement","params":{"text":{"en":"A paragraph","el":"A paragraph el"} } }
                            ,{"element":"textElement","params":{"text":{"en":"Another paragraph","el":"Another paragraph el"} } }
                            ,{"element":"tag","params":{"lang":"el", "text":{"en":"Adult","el":"el Adult"}, "classes":"govcy-tag-gray"} }
                            ,{"element":"textElement","params":{"text":{"en":"Another paragraph","el":"Another paragraph el"} } }
                        ]
                    ,"hint":{"en":"English hint","el":"Ελληνικά hint"}
                    ,"error":{"en":"English error","el":"Ελληνικά error"}
                    ,"items":[
                        {
                            "value": "yes",
                            "text": {"en":"Yes","el":"Ναι"}
                        },
                        {
                            "value": "no",
                            "text": {"en":"No","el":"Όχι"}
                        }
                    ]
                }
            },
            {
                "element": "checkboxes",
                "params": {
                    "id":"govcy-test-95"
                    ,"name":"govcy-test-95"
                    ,"lang":"el"
                    ,"legend":{"en":"Checkboxes: with elements","el":"Ελληνικά checkboxes legend"}
                    ,"isPageHeading" : true
                    ,"elements": [
                            {"element":"textElement","params":{"text":{"en":"A paragraph","el":"A paragraph el"} } }
                            ,{"element":"textElement","params":{"text":{"en":"Another paragraph","el":"Another paragraph el"} } }
                            ,{"element":"tag","params":{"lang":"el", "text":{"en":"Adult","el":"el Adult"}, "classes":"govcy-tag-gray"} }
                            ,{"element":"textElement","params":{"text":{"en":"Another paragraph","el":"Another paragraph el"} } }
                        ]
                    ,"hint":{"en":"English hint","el":"Ελληνικά hint"}
                    ,"error":{"en":"English error","el":"Ελληνικά error"}
                    ,"items":[
                        {
                            "value": "yes",
                            "text": {"en":"Yes","el":"Ναι"}
                        },
                        {
                            "value": "no",
                            "text": {"en":"No","el":"Όχι"}
                        }
                    ]
                }
            },
            {
                "element": "htmlElement",
                "params": {
                    "text":{"en":"<h2>Error Summary</h2>","el":"Error Summary el"}
                }
            },
            {
                "element": "errorSummary",
                "params": {
                    "id":"govcy-test-96"
                    ,"errors":[
                        {
                            "link":"#input1",
                            "text":{"en":"Enter your full name","el":"Εισαγάγετε το πλήρες όνομά σας"} 
                        },
                        {
                            "link":"#input2",
                            "text":{"en":"Enter your mobile number","el":"Εισαγάγετε τον αριθμο κινητού τηλεφωνου σας"} 
                        }  
                    ]
                }
            },
            {
                "element": "errorSummary",
                "params": {
                    "id":"govcy-test-97"
                    ,"header":{"en":"Error","el":"Σφάλμα"}
                    ,"body":{"en":"You can continue with other sections of your application.","el":"Μπορείτε να συνεχίσετε με άλλες ενότητες της αίτησής σας."}
                    , "linkToContinue":{
                        "text":{"en":"Back to home page","el":"Επιστροφή στην αρχική σελίδα"} ,
                        "link":"#home"
                    }
                    ,"errors":[
                        {
                            "link":"#input1",
                            "text":{"en":"Enter your full name","el":"Εισαγάγετε το πλήρες όνομά σας"} 
                        },
                        {
                            "link":"#input2",
                            "text":{"en":"Enter your mobile number","el":"Εισαγάγετε τον αριθμο κινητού τηλεφωνου σας"} 
                        }  
                    ]
                }
            },
            {
                "element": "errorSummary",
                "params": {
                    "id":"govcy-test-98"
                    ,"lang":"el"
                    ,"header":{"en":"Error","el":"Σφάλμα"}
                    ,"body":{"en":"You can continue with other sections of your application.","el":"Μπορείτε να συνεχίσετε με άλλες ενότητες της αίτησής σας."}
                    , "linkToContinue":{
                        "text":{"en":"Back to home page","el":"Επιστροφή στην αρχική σελίδα"} ,
                        "link":"#home"
                    }
                    ,"errors":[
                        {
                            "link":"#input1",
                            "text":{"en":"Enter your full name","el":"Εισαγάγετε το πλήρες όνομά σας"} 
                        },
                        {
                            "link":"#input2",
                            "text":{"en":"Enter your mobile number","el":"Εισαγάγετε τον αριθμο κινητού τηλεφωνου σας"} 
                        }  
                    ]
                }
            }
        ]
    })
    %}
    {% endcall %}
{% endblock %}
{% block beforeMain %}
    {{ govcyElement("textElement",{text:{en:"Back ",el:"Πίσω"}, type:"p", id:"govcy-test-25"}) }}
    {{ govcyElement("backLink",{}) }}{{ govcyElement("backLink",{text:{en:"Back EN govcy-test-53",el:"Πίσω EL"} }) }}
    {{ govcyElement("backLink",{text:{en:"Back EN with classes",el:"Πίσω EL"}, classes:"govcy-test-54" }) }}
    {{ govcyElement("backLink",{text:{en:"Back EN with classes and href",el:"Πίσω EL"}, classes:"govcy-test-55", href:"#" }) }}
    {{ govcyElement("backLink",{text:{en:"Back EN",el:"Πίσω EL with classes and href"}, classes:"govcy-test-56", href:"#", lang:"el" }) }}
{% endblock %}