{# govcyLocalizeContent 
 @param {string} content The content
 @param {string} lang The language used. Can be 'en','el'. Optional.
 @param {boolean} isHTML Is the content an HTML and can be reproduced without escaping? Optional, default is false. Can be true,false 
 @returns localized content 
#}
{% macro govcyLocalizeContent(content,lang,isHTML) -%}
{#- set default values -#}
{%- set inlang = lang | default('el') -%}
{%- set inIsHTML = isHTML | default(false) -%}
{% if inIsHTML %}{{- content[inlang] | safe -}}{% else %}{{- content[inlang] -}}{% endif %}
{%- endmacro %}