{# error Message 
 @param {object} message The error message text. Will escape text. Example `{en:"Content",el:"Περιεχομένο"}` 
 @param {string} id The error message id. Will escape text 
 @param {string} lang The language used. Can be 'en','el'. Optional, default is 'el'.
 @param {string} classes Additional classes to add to the outer div. Optional 
 @returns govcy error message html 
#}
{% macro errorMessage(params) -%}
{#- Import localizer from utilities -#}
{%- from "../utilities/govcyUtilities.njk" import govcyLocalizeContent, govcyLangAttribute, govcyGetContent -%}
{#- set default values -#}
{%- set hiddenError -%} 
    {{- govcyGetContent('errorMessage_hiddenError', params.lang) -}}
{%- endset -%}
{%- if params.message -%}
<p {% if params.id %}id="{{ params.id }}"{% endif %} class="govcy-input-error-msg{% if params.classes %} {{ params.classes }}{% endif %}"{{ govcyLangAttribute(params.lang) }}>
    <span class="govcy-visually-hidden-error">{{ hiddenError }}:</span>{{ govcyLocalizeContent(params.message, params.lang) }}
</p>
{%- endif -%}
{%- endmacro %}