{# hint 
 @param {string} lang The language used. Can be 'en','el'. Optional. 
 @param {object} hint The label text. Will escape text. Example `{en:"Content",el:"Περιεχομένο"}` 
 @param {string} id The hint id. Will escape text 
 @param {string} classes Additional classes to add to the outer div. Optional 
 @returns govcy hint html 
#}
{% macro hint(params) -%}
{#- Import localizer from utilities -#}
{%- from "../utilities/govcyUtilities.njk" import govcyLocalizeContent, govcyLangAttribute -%}
{% if params.hint %}<span {% if params.id %}id="{{ params.id }}"{% endif %} class="govcy-hint{% if params.classes %} {{ params.classes }}{% endif %}"{{ govcyLangAttribute(params.lang) }}>{{ govcyLocalizeContent(params.hint, params.lang) }}</span>{% endif %}
{%- endmacro %}