{# share
 @param {string} id The id of the share component. Will escape text. Optional
 @param {string} classes Additional classes to add to the share wrapper. Optional
 @param {string} lang The language used. Can be 'en','el'. Optional.
 @param {object} text The text to be shared. Required. Example `{en:"Content",el:"Περιεχόμενο"}`
 @param {object|string} url The URL to be shared. Optional. Can be localized object `{en:"#",el:"#"}`
 @param {object} title The title used in share actions. Optional. Example `{en:"Title",el:"Τίτλος"}`
 @param {object} previewTitle The preview action label/title. Optional. Example `{en:"Preview",el:"Προεπισκόπηση"}`
 @param {boolean} hasShare Whether to show native share action. Optional, default is true.
 @param {boolean} hasSms Whether to show SMS action. Optional, default is true.
 @param {boolean} hasEmail Whether to show email action. Optional, default is true.
 @param {boolean} hasPreview Whether to show preview action. Optional, default is true.
 @param {boolean} hasCopy Whether to show copy action. Optional, default is true.
 @returns govcy share html
#}
{% macro share(params) -%}
{#- Import localizer from utilities -#}
{%- from "../utilities/govcyUtilities.njk" import govcyLocalizeContent, govcyLangAttribute, govcyGetContent -%}
{#- Required content and defaults -#}
{%- if params.text -%}
    {%- set text = govcyLocalizeContent(params.text, params.lang) -%}
    {%- if text -%}
        {#- set default values -#}
        {%- set hasShare = params.hasShare | default(true) -%}
        {%- set hasSms = params.hasSms | default(true) -%}
        {%- set hasEmail = params.hasEmail | default(true) -%}
        {%- set hasPreview = params.hasPreview | default(true) -%}
        {%- set hasCopy = params.hasCopy | default(true) -%}

        {%- if hasShare or hasSms or hasEmail or hasPreview or hasCopy -%}
            {%- set shareLabel = govcyGetContent('share_share', params.lang) -%}
            {%- set smsLabel = govcyGetContent('share_sms', params.lang) -%}
            {%- set emailLabel = govcyGetContent('share_email', params.lang) -%}
            {%- set previewLabel = govcyLocalizeContent(params.previewTitle, params.lang) if params.previewTitle else govcyGetContent('share_preview', params.lang) -%}
            {%- set copyLabel = govcyGetContent('share_copy', params.lang) -%}
            {%- set copySuccess = govcyGetContent('share_copySuccess', params.lang) -%}
            {%- set title = govcyLocalizeContent(params.title, params.lang) if params.title else '' -%}

            {%- set resolvedUrl = '' -%}
            {%- if params.url -%}
                {%- set resolvedUrl = govcyLocalizeContent(params.url, params.lang) -%}
            {%- endif -%}

            <div{% if params.id %} id="{{ params.id }}"{% endif %}
                class="govcy-share{% if params.classes %} {{ params.classes }}{% endif %}"
                data-govcy-share-title="{{ title }}"
                data-govcy-share-text="{{ text }}"
                data-govcy-share-url="{{ resolvedUrl }}"
                data-govcy-share-copy-success-message="{{ copySuccess }}"
                {{ govcyLangAttribute(params.lang) }}>
                {%- if hasShare or hasSms or hasEmail -%}
                <ul class="govcy-list-unstyled govcy-share__list">
                    {%- if hasShare -%}
                    <li class="govcy-mb-2 govcy-share__item">
                        <a tabindex="0" role="button" class="govcy-link-no-visited-state govcy-share__btn">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="govcy-share__icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
                                <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708z"/>
                            </svg>
                            {{ shareLabel }}
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if hasSms -%}
                    <li class="govcy-mb-2 govcy-share__item">
                        <a role="button" class="govcy-link-no-visited-state govcy-share__sms" href="sms:?body={{ ('' ~ text) | urlencode }}">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="govcy-share__icon" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                            </svg>
                            {{ smsLabel }}
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if hasEmail -%}
                    <li class="govcy-mb-2 govcy-share__item">
                        <a role="button" class="govcy-link-no-visited-state govcy-share__email" href="mailto:?subject={{ ('' ~ title) | urlencode }}&body={{ ('' ~ text) | urlencode }}">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="govcy-share__icon" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
                                <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                            </svg>
                            {{ emailLabel }}
                        </a>
                    </li>
                    {%- endif -%}
                </ul>
                {%- endif -%}
                {%- if hasPreview -%}
                <p class="govcy-fw-bolder">{{ previewLabel }}</p>
                <pre class="govcy-share__message">{{ text }}</pre>
                {%- endif -%}
                {%- if hasCopy -%}
                <ul class="govcy-list-unstyled govcy-share__list">
                    <li class="govcy-mb-2 govcy-share__item">
                    <a tabindex="0" role="button" class="govcy-link-no-visited-state govcy-share__copy-btn">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="govcy-share__icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                        </svg>
                        {{ copyLabel }}
                    </a>
                    </li>
                </ul>
                <div class="govcy-share__toast" role="alert" aria-live="assertive" aria-atomic="true"></div>
                {%- endif -%}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
{%- endmacro %}
